@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*---------------------------------------*/
body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
}

.header {
  margin: 40px 0px 0px 0px;
  position: relative;
}
.header__container {
  max-width: 1722px;
}
.header__sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__burger {
  margin: 0px 0px 0px 38px;
  display: block;
  position: relative;
  top: 21px;
  right: 0;
  width: 21px;
  height: 25.56px;
  z-index: 3;
}
.header__burger::before {
  content: "";
  position: absolute;
  top: -21px;
  left: -23px;
  height: 67px;
  width: 67px;
  border: 2.5px solid #000;
  border-radius: 50%;
}
.header__burger span {
  position: absolute;
  background-color: #000;
  left: 0;
  width: 21px;
  height: 2.5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 15px;
}
.header__burger span:nth-child(2) {
  top: 11.53px;
}
.header__burger span:nth-child(1) {
  top: 0;
}
.header__burger span:nth-child(3) {
  bottom: 0;
}
.header__menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  opacity: 100%;
  padding: 65px 0px 0px 0px;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 2;
}
.header__menu.active {
  top: 0;
}
.header__list {
  margin: 108px 0px 147px 236px;
  display: block;
}
.header__list li {
  position: relative;
  margin: 0px 0px 20px 0px;
}
.header__link {
  font-weight: 700;
  display: block;
  font-size: 157px;
  line-height: 173px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  -webkit-text-stroke: 3.8px #fff;
  color: transparent;
}
.header__social {
  max-width: 1440px;
  margin: 0px auto 153px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__social-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__social-email {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header__social-phone-b {
  font-size: 26px;
  line-height: 67px;
  color: #000000;
}
.header__social-phone-w {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
}
.header__social-address {
  max-width: 371px;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}
.header__social-icon {
  margin: 0px 40px 0px 0px;
}

.main-screen {
  max-width: 1920px;
  max-height: 1080px;
  padding: 286px 0px 293px 0px;
  position: relative;
}
.main-screen::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 60%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #14FFF1 0%, rgba(192, 255, 251, 0) 100%);
  -webkit-animation: blue 15s ease infinite;
          animation: blue 15s ease infinite;
  z-index: -2;
}
.main-screen::after {
  content: "";
  position: absolute;
  top: -150px;
  right: 50px;
  width: 60%;
  height: 110%;
  background: radial-gradient(50% 50% at 50% 50%, #BD00FF -30%, rgba(227, 148, 255, 0) 100%);
  -webkit-animation: pink 15s ease infinite;
          animation: pink 15s ease infinite;
  z-index: -1;
}
@-webkit-keyframes blue {
  0% {
    top: -100px;
    left: 0;
    width: 60%;
    height: 100%;
  }
  50% {
    top: 100px;
    left: 50px;
    width: 50%;
    height: 80%;
  }
  100% {
    top: -100px;
    left: 0;
    width: 60%;
    height: 100%;
  }
}
@keyframes blue {
  0% {
    top: -100px;
    left: 0;
    width: 60%;
    height: 100%;
  }
  50% {
    top: 100px;
    left: 50px;
    width: 50%;
    height: 80%;
  }
  100% {
    top: -100px;
    left: 0;
    width: 60%;
    height: 100%;
  }
}
@-webkit-keyframes pink {
  0% {
    top: -150px;
    right: 50px;
    width: 60%;
    height: 110%;
  }
  50% {
    top: -250px;
    right: 100px;
    width: 80%;
    height: 120%;
  }
  100% {
    top: -150px;
    right: 50px;
    width: 60%;
    height: 110%;
  }
}
@keyframes pink {
  0% {
    top: -150px;
    right: 50px;
    width: 60%;
    height: 110%;
  }
  50% {
    top: -250px;
    right: 100px;
    width: 80%;
    height: 120%;
  }
  100% {
    top: -150px;
    right: 50px;
    width: 60%;
    height: 110%;
  }
}
.main-screen__title {
  font-size: 90px;
  line-height: 99px;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #000000;
  margin: 0px 0px 5px 0px;
}
.main-screen__subtitle {
  font-size: 157px;
  line-height: 173px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  -webkit-text-stroke: 3.8px #000000;
  color: transparent;
}
.main-screen__bottom {
  max-width: 994px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 62px auto 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-screen__button {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 15.5px 74.5px;
  background: #000000;
  border: 2.5px solid #000000;
  border-radius: 56.5px;
}
.main-screen__bottom-subtitle {
  max-width: 550px;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}