.header {
    margin: 40px 0px 0px 0px;
    position: relative;
    
		&__container {
            max-width: 1722px;
		}

		&__sidebar {
            display: flex;
            justify-content: space-between;
            position: relative;
		}

		&__logo {
            background: url('../img/icons/logo-b.svg') no-repeat;
            width: 265px;
            height: 67px;
            &.active {
                background: url('../img/icons/logo-w.svg') no-repeat;
            }
            z-index: 3;
		}

        &__right {
            display: flex;
        }

		&__burger {
            margin: 0px 0px 0px 61px;
            display: block;
            position: relative;
            top: 21px;
            right: 23;
            width: 21px;
            height: 25.56px;
            z-index: 3;
            &:hover {
                cursor: pointer;
            }
            &::before {
                content: '';
                position: absolute;
                top: -21px;
                left: -23px;
                height: 67px;
                width: 67px;
                border: 2.5px solid #000;
                border-radius: 50%;
            }
            span {
                position: absolute;
                background-color: #000;
                left: 0;
                width: 21px;
                height: 2.5px;
                transition: all 0.3s ease 0s;
                border-radius: 15px;
            }
            & span:nth-child(2) {
                top: 11.53px;
            }
            & span:nth-child(1) {
                top: 0;
            }
            & span:nth-child(3) {
                bottom: 0;
            }
            &.active {
                span {
                    background-color: #fff;
                }
                &::before {
                    border: 2.5px solid #fff;
                }
            }
		}
		&__menu {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background: #000;
            transition: all 0.8s ease 0s;
            z-index: 2;
            &.active {
                top: 0;
            }
		}

		&__list {
            margin: 108px 0px 147px 236px;
            display: block;
            li {
                position: relative;
                // margin: 0px 0px 20px 0px;
            }
		}

		&__link {
            font-weight: 700;
            display: block; 
            font-size: 157px;
            line-height: 173px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            -webkit-text-stroke: 3.8px #fff;
            color: transparent;    
		}

		&__social {
            max-width: 1440px;
            margin: 0px auto 47px auto;
            display: flex;
            justify-content: space-between;
		}

		&__social-item {
            
		}

        &__social-contact {
            display: flex;
            flex-direction: column;
        }

		&__social-email {
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin: 0px 0px 8px 0px;
		}

		&__social-phone {
            
		}
        &__social-phone-b {
            font-size: 26px;
            line-height: 67px;
            color: #000000;
		}
        &__social-phone-w {
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            color: #fff;
		}

		&__social-address {
            max-width: 371px;
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            color: #FFFFFF;
		}

		&__social-icons {
            
		}

		&__social-icon {
            margin: 0px 40px 0px 0px;
            &:hover {
                cursor: pointer;
            }
		}
}

