.header {
    margin: 40px 0px 0px 0px;
    
		&__container {
            max-width: 1722px;
            margin: 0px auto;
            position: relative;
            z-index: 3;
		}

		&__sidebar {
            display: flex;
            justify-content: space-between;
		}

		&__logo {
            // background: url('../img/icons/logo-b.svg') no-repeat;
            width: 265px;
            height: 67px;
            img {
                width: 100%;
                height: 100%;
            }
            &.active {
                display: none;
            }
            @media (max-width:650px) {
                    width: 180px;
                    height: 46px;
                
            }
		}

        &__logo-w {
            // background: url('../img/icons/logo-w.svg') no-repeat;
            position: absolute;
            top: 40px;
            left: 100px;
            width: 265px;
            height: 67px;
            img {
                width: 100%;
                height: 100%;
            }
            z-index: 3;
            display: none;
            &.active {
                display: block;
            }
            @media (max-width:1700px) {
                left: 25px;
            }
            @media (max-width:650px) {
                top: 23px;
                width: 180px;
                height: 46px;
            }
        }

        
		&__burger {
            margin: 60px 0px 0px 0px;
            position: fixed;
            top: 0px;
            right: 149px;
            width: 21px;
            height: 25.56px;
            z-index: 3;
            transition: all 0.3s ease 0s;
            @media (max-width:1700px) {
                right: 44px;
            }
            &:hover {
                cursor: pointer;
            }
            span {
                position: absolute;
                background-color: #000;
                left: 0;
                width: 21px;
                height: 2.5px;
                transition: all 0.3s ease 0s;
                border-radius: 15px;
            }
            &::before {
                content: '';
                position: absolute;
                top: -21px;
                left: -23px;
                height: 67px;
                width: 67px;
                border: 2.5px solid #000;
                border-radius: 50%;
            }
            & span:nth-child(2) {
                top: 11.53px;
            }
            & span:nth-child(1) {
                top: 0;
            }
            & span:nth-child(3) {
                bottom: 0;
            }
            &.active {
                span {
                    background-color: #fff;
                }
                &::before {
                    border: 2.5px solid #fff;
                }
            }
            &._active {
                span {
                    background-color: #fff;
                }
                &::before {
                    border: 2.5px solid #fff;
                }
            }
            @media (max-width:650px) {
                margin: 39px 0px 0px 0px;
                height: 15px;
                width: 11px;
                span {
                    width: 14.42px;
                    height: 1.8px;
                }
                & span:nth-child(2) {
                    top: 7px;
                }
                &::before {
                    top: -16px;
                    left: -16px;
                    height: 46px;
                    width: 46px;
                    border: 1.8px solid #000;
                }
            }
		}
		&__menu {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background: #000;
            transition: all 0.8s ease 0s;
            z-index: 2;
            &.active {
                top: 0;
            }
		}

        &__b-menu {
            max-width: 1490px;
            margin: 0px auto;
            padding: 0px 25px;
            
        }

		&__list {
            margin: 168px 0px 147px 0px;
            display: block;
            li {
                position: relative;
                // margin: 0px 0px 20px 0px;
            }
		}

		&__link {
            font-weight: 700;
            display: block; 
            font-size: 157px;
            line-height: 173px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            -webkit-text-stroke: 3.8px #fff;
            color: transparent;    
		}

		&__social {
            margin: 0px auto 47px auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
		}

		&__social-item {
            padding: 0px 15px;
		}

        &__social-contact {
            display: flex;
            flex-direction: column;
        }

		&__social-email {
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin: 0px 0px 8px 0px;
		}

		&__social-phone {
            
		}
        &__right {
            display: flex;
        }

        &__social-phone-b {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 26px;
            line-height: 67px;
            color: #000000;
            margin: 0px 150px 0px 0px;
            &.active {
                display: none;
            }
            @media (max-width:1850px) {
                margin: 0px 220px 0px 0px;
            }
            @media (max-width:1700px) {
                margin: 0px 130px 0px 0px;
            }
            @media (max-width:850px) {
                display: none;
            }
		}
        &__social-phone-w {
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            color: #fff;
		}

		&__social-address {
            max-width: 371px;
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            color: #FFFFFF;
		}

		&__social-icons {
            
		}

		&__social-icon {
            &:not(:last-child) {
                margin: 0px 40px 0px 0px;
            }
            &:hover {
                cursor: pointer;
            }
		}
    @media (max-width:1180px) {
            &__link {
                font-size: 100px;
                line-height: 110px; 
            }
            &__social-email {
                font-size: 18px;
                line-height: 22px;
            }
            &__social-phone-w {
                font-size: 18px;
                line-height: 22px;
            }
            &__social-address {
                font-size: 18px;
                line-height: 22px;
            }
            &__social-icon {
            &:not(:last-child) {
                margin: 0px 20px 0px 0px;
            }
		}
    }
    @media (max-width:965px) {
        &__social {
            flex-direction: column;
        }
        &__social-icons {
            margin: 80px 0px 0px 0px;
		}
        &__social-contact {
            margin: 0px 0px 38px 0px;
        }
        &__list {
            margin: 168px 0px 62px 0px;
        }    
    }
    @media (max-width:650px) {
        & {
            margin: 23px 0px 0px 0px;
        }
        &__link {
            font-size: 50px;
            line-height: 58px;
            -webkit-text-stroke: 2px #fff;
        }
        &__social-email {
            font-size: 14px;
            line-height: 17px;
        }
        &__social-phone-w {
            font-size: 14px;
            line-height: 17px;
        }
        &__social-address {
            max-width: 264px;
            font-size: 13px;
            line-height: 17px;
        }
        &__social-icons {
            margin: 124px 0px 0px 0px;
		}
        &__social-icon {
            &:not(:last-child) {
                margin: 0px 20px 0px 0px;
            }
            img {
                width: 26px;
                height: 26px;
            }
        }
    }    
}

