.lithunters-main-screen {
    background: #000;
		&__container {
		}

		&__content {
            padding: 124px 0px 0px 0px;
            @media (max-width: 1500px) {
                margin: 0px -80px 0px 0px;
            }
            @media (max-width: 650px) {
                margin: 0px -45px 0px 0px;
            }
		}

		&__button {
		}

		&__button-image {
		}

		&__btn {
		}

		&__row {
		}

		&__column {
		}

		&__title {
		}

		&__subtitle {
		}

		&__subtitle-a {
            text-decoration: underline;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
		}

		&__image {
            height: 100%;
            width: 100%;
            padding: 0px 0px 120px 0px;
            img {
                height: 100%;
                width: 100%;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                transition: 0.5s all ease 0s;
                &:hover {
                    cursor: pointer;
                    -webkit-filter: grayscale(0%);
                    filter: grayscale(0%);
                }
            }
		}
    @media (max-width: 1100px) {
        &__content {
            padding: 60px 0px 0px 0px;
        }
        &__image {
            padding: 0px 0px 60px 0px;
        }   
    }
    @media (max-width: 650px) {
        &__content {
            padding: 40px 0px 0px 0px;
        }
        &__image {
            padding: 0px 0px 30px 0px;
        }
    }    
}

.lithunters {
    background: #000;
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 200%;
        height: 4px;
        background: rgb(121,130,180);
        background: linear-gradient(90deg, rgba(121,130,180,1) 0%, rgba(20,255,241,1) 30%, rgba(255,255,255,1) 50%, rgba(189,0,255,1) 68%, rgba(118,54,139,1) 100%);
        animation: gradient 15s ease infinite;
    }
    @keyframes gradient {
        0% {
            left: -100%;
        }
        100% {
            left: 0;
        }
    }
		&__container {
		}

		&__content {
            padding: 0px 0px 213px 0px;
            @media (max-width: 1500px) {
                margin: 0px -80px 0px 0px;
            }
            @media (max-width: 650px) {
                margin: 0px -45px 0px 0px;
            }
		}

		&__title {
            color: #FFFFFF;
            margin: 0px 0px 115px 0px;
		}

		&__subtitle {
            // padding: 0px 0px 73px 0px;
		}

		&__column {
		}

		&__text {
		}

		&__ttl {
            margin: 70px 0px 40px 0px;    
		}
        &__ttl-ul {
        }
		&__subttl {
		}

		&__list {
            li {
                font-weight: 600;
                font-size: 20px;
                line-height: 33px;
                color: #FFFFFF;
                position: relative;
                margin: 0px 0px 0px 20px;
                &:before {
                    content: '';
                    position: absolute;
                    top: 18px;
                    left: -20px;
                    height: 2px;
                    width: 10px;
                    background: #fff;
                }
            }
		}

		&__row {
            margin: 233px 0px 0px 0px;
		}

		&__item {
		}

		&__number {
		}

		&__result {
		}
    @media (max-width: 1100px) {
        &__title {
            margin: 0px 0px 90px 0px;
        }
        &__list {
            li {
                font-size: 18px;
                line-height: 30px;
                &:before {
                    content: '';
                    position: absolute;
                    top: 16px;
                    left: -20px;
                    height: 2px;
                    width: 10px;
                    background: #fff;
                }
            }
        }
        &__row {
            margin: 150px 0px 0px 0px;
		}
    }    
    @media (max-width: 850px) {
        &__title {
            margin: 0px 0px 60px 0px;
        }
        &__content {
            padding: 0px 0px 180px 0px;
        }
    }    
    @media (max-width: 650px) {
        &__content {
            padding: 0px 0px 100px 0px;
        }
        &__title {
            margin: 0px 0px 23px 0px;
        }
        &__list {
            margin: 0px 45px 90px 0px;
            li {
                font-size: 13px;
                line-height: 17px;
                margin: 0px 0px 0px 14px;
                &:before {
                    top: 10px;
                    left: -14px;
                    height: 1.2px;
                    width: 6px;
                    background: #fff;
                }
            }
        }
        &__ttl {
            margin: 0px 0px 23px 0px;  
		}
        &__ttl-ul {
            margin: 85px 0px 23px 0px;
        }
        &__row {
            margin: 83px 0px 0px 0px;
		}
        &__subtitle {
            padding: 0px 0px 55px 0px;
        }
    }    
}

.lithunters_another-projects {
    padding: 211px 0px 252px 0px;
    background: #000;
		&__container {
		}

		&__content {
            @media (max-width: 1500px) {
                margin: 0px -80px 0px 0px;
            }
            @media (max-width: 650px) {
                margin: 0px -45px 0px 0px;
            }
		}

		&__title {
            color: #fff;
            padding: 0px 0px 82px 0px;
		}

		&__seeall-btn {
		}

		&__seeall-text {
		}

		&__row {
		}

		&__column {
		}

		&__image {
		}

		&__text {
		}
    @media (max-width: 1100px) {
        &__title {
            padding: 0px 0px 82px 0px;
        }
        & {
            padding: 150px 0px 200px 0px;
        }    
    }
    @media (max-width: 850px) {
        &__title {
            padding: 0px 0px 82px 0px;
        }
        & {
            padding: 150px 0px 180px 0px;
        }    
    }
    @media (max-width: 650px) {
        &__title {
            padding: 0px 0px 56px 0px;
        }
        & {
            padding: 100px 0px 152px 0px;
        }    
    }     
}





