@import "nullstyle.scss";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
body.lock {
    overflow: hidden;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
}
.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container {
    max-width: 1440px;
    margin: 0px auto;
}
//------------------------------------------HEADER------------------------------------------
@import "header.scss";
//------------------------------------------MAIN-SCREEN-------------------------------------
.main-screen {
    max-width: 1920px;
    max-height: 1080px;
    padding: 286px 0px 293px 0px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: -100px;
        left: 0;
        width: 60%;
        height: 100%;
        background: radial-gradient(50% 50% at 50% 50%, #14FFF1 0%, rgba(192, 255, 251, 0) 100%);
        animation: blue 15s ease infinite;
        z-index: -2;
    }
    &::after {
        content: '';
        position: absolute;
        top: -150px;
        right: 50px;
        width: 60%;
        height: 110%;
        background: radial-gradient(50% 50% at 50% 50%, #BD00FF -30%, rgba(227, 148, 255, 0) 100%);
        animation: pink 15s ease infinite;
        z-index: -1;
    }
    @keyframes blue {
        0% {
            top: -100px;
            left: 0;
            width: 60%;
            height: 100%;
        }
        50% {
            top: 100px;
            left: 50px;
            width: 50%; 
            height: 80%;
        }
        100% {
            top: -100px;
            left: 0;
            width: 60%;
            height: 100%;
        }
    }
    @keyframes pink {
        0% {
            top: -150px;
            right: 50px;
            width: 60%;
            height: 110%;
        }
        50% {
            top: -250px;
            right: 100px;
            width: 80%;
            height: 120%;
        }
        100% {
            top: -150px;
            right: 50px;
            width: 60%;
            height: 110%;
        }
    }
		&__container {
		}

		&__content {
            
		}

		&__text {
		}

		&__title {
            font-size: 90px;
            line-height: 99px;
            font-weight: 700;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: #000000;
            margin: 0px 0px 5px 0px;
		}

		&__subtitle {
            font-size: 157px;
            line-height: 173px;
            font-weight: 700;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            -webkit-text-stroke: 3.8px #000000;
            color: transparent;    
		}

		&__bottom {
            max-width: 994px;
            justify-content: space-between;
            margin: 62px auto 0px auto;
            display: flex;
            
		}

		&__button {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 15.5px 74.5px;
            background: #000000;
            border: 2.5px solid #000000;
            border-radius: 56.5px;
		}

		&__bottom-subtitle {
            max-width: 550px;
            font-size: 20px;
            line-height: 26px;
            color: #000000;
		}
}




//------------------------------------------FOOTER------------------------------------------
@import "footer.scss";