@import "nullstyle.scss";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    position: relative;
}

body.lock {
    overflow: hidden;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.wrapper_b {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: #000;
}
.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 1 100%;
}
.container {
    max-width: 1490px;
    margin: 0px auto;
    padding: 0px 25px;
    @media (max-width: 1500px) {
        padding: 0px 105px 0px 25px;
    }
    @media (max-width: 650px) {
        padding: 0px 70px 0px 25px;
    }
}

// @media (max-width: 1600px) {
//     .container {
//     max-width: 1140px;
//     }
// }
// @media (max-width: 992px) {
//     .container {
//     max-width: 960px;
//     }
// }
// @media (max-width: 768px) {
//     .container {
//     max-width: 720px;
//     }
// }
// @media (max-width: 576px) {
//     .container {
//     max-width: 540px;
//     }
// }

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 99;
}
.preloader-image {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 141px;
    height: 141px;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &:before {
        content: '';
        position: absolute;
        width: 141px;
        height: 141px;
        border: 5px solid #fff;
        border-radius: 50%;
        border-top: 5px solid #000;
        animation: spin 2s linear infinite;
        z-index: 998;
    }
    @media (max-width: 850px) {
        & {
            width: 62px;
            height: 62px;
        }
        img {
            width: 35px;
            height: 45px;
        }
        &:before {
            width: 62px;
            height: 62px;
            border: 2px solid #fff;
            border-top: 2px solid #000;
        }
    }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#toTop {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: rotate(90deg);
    position: fixed;
    bottom: 185px;
    right: 105px;
    z-index: 2;
    display: none;
    &:hover {
        cursor: pointer;
    }
    &:before {
        content: url('../img/icons/totop.svg');
        position: absolute;
        bottom: -21px;
        right: -95px;
        width: 67px;
        height: 67px;
        transform: rotate(270deg);
    }
    &._active {
            color: #000;
        &::before {
            content: url('../img/icons/tobottom.svg');
            transform: rotate(90deg);
        }
    }
    @media (max-width:1700px) {
        right: 10px;
    }
    @media (max-width:1100px) {
        bottom: 120px;
        right: -8px;
        color: transparent;
        &:before {
            content: url('../img/icons/totop-small.svg'); 
            bottom: 0px;
            right: -40px;
            width: 28px;
            height: 28px;
        }
        &._active {
            color: transparent;
        &::before {
            content: url('../img/icons/tobottom-small.svg');
            transform: rotate(90deg);
        }
    }
    }
}

#toBottom {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000;
    transform: rotate(90deg);
    position: absolute;
    bottom: 185px;
    right: 105px;
    z-index: 2;
    &:hover {
        cursor: pointer;
    }
    &:before {
        content: url('../img/icons/tobottom.svg');
        position: absolute;
        bottom: -21px;
        right: -95px;
        width: 67px;
        height: 67px;
        transform: rotate(270deg);
    }
    @media (max-width:1700px) {
        right: 10px;
    }
    @media (max-width:1100px) {
        bottom: 120px;
        font-size: 14px;
        line-height: 17px;
        &:before {
            content: url('../img/icons/tobottom-small.svg');
            bottom: -6px;
            right: -40px;
            width: 28px;
            height: 28px;
        }
        
    }
}

.buttons-slider {
    position: fixed;
    left: 125px;
    bottom: 77px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    &.active {
        display: none;
    }
    @media (max-width:1700px) {
        left: 55px;
    }
    @media (max-width:1200px) {
        left: 20px;
    }
    @media (max-width:1160px) {
        display: none;
    }
}
.button {
    width: 14.6px;
    height: 14.6px;
    border: 2.5px solid #000000;
    border-radius: 50%;
    background: transparent;
    transition: all 0.3s ease 0s;
    &:not(:last-child) {
        margin: 0px 0px 13px 0px;
    }
    &.active {
        width: 14.6px;
        height: 55.14px;
        background: #000000;
        border-radius: 10px;
        &._active {
            background: #fff;
        }
    }
    &._active {
        border: 2.5px solid #fff;
    }
    &:hover {
        cursor: pointer;
    }
}

//------------------------------------------HEADER------------------------------------------
@import "header.scss";
//------------------------------------------MAIN-SCREEN-------------------------------------
.main-screen {
    padding: 200px 0px 194px 0px;
    overflow: hidden;
    position: relative;
    &__bg {
        
        &::before {
            content: '';
            position: absolute;
            top: -100px;
            left: 0;
            width: 60%;
            height: 100%;
            background: radial-gradient(50% 50% at 50% 50%, #14FFF1 0%, rgba(192, 255, 251, 0) 100%);
            animation: blue 15s ease infinite;
            z-index: -1;
        }
        &::after {
            content: '';
            position: absolute;
            top: -150px;
            right: 50px;
            width: 60%;
            height: 110%;
            background: radial-gradient(50% 50% at 50% 50%, #BD00FF -30%, rgba(227, 148, 255, 0) 100%);
            animation: pink 15s ease infinite;
            z-index: -2;
        }
    }
    @keyframes blue {
        0% {
            top: -100px;
            left: 0;
            width: 60%;
            height: 100%;
        }
        50% {
            top: 100px;
            left: 50px;
            width: 50%; 
            height: 80%;
        }
        100% {
            top: -100px;
            left: 0;
            width: 60%;
            height: 100%;
        }
    }
    @keyframes pink {
        0% {
            top: -150px;
            right: 50px;
            width: 60%;
            height: 110%;
        }
        50% {
            top: -250px;
            right: 100px;
            width: 80%;
            height: 120%;
        }
        100% {
            top: -150px;
            right: 50px;
            width: 60%;
            height: 110%;
        }
    }
		&__container {
		}

		&__content {
		}

		&__text {
            
		}

		&__title {
            color: #000000;
            margin: 0px 0px 5px 0px;
		}

		&__subtitle {
            font-size: 157px;
            line-height: 173px;
            font-weight: 700;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            -webkit-text-stroke: 3.8px #000000;
            color: transparent;
		}

		&__bottom {
            max-width: 994px;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 62px auto 0px auto;
            display: flex;
		}

		&__button {
            display: inline;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            max-height: 55px;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 15.5px 74.5px;
            background: #000000;
            border: 2.5px solid #000000;
            border-radius: 56.5px;
            &:hover {
                cursor: pointer;
            }
		}

		&__bottom-subtitle {
            max-width: 550px;
            font-size: 20px;
            line-height: 26px;
            color: #000000;
            padding: 0px 15px;
		}
        @media (max-width:1600px) {
            &__subtitle {
                font-size: 110px;
                line-height: 150px;
            }
            &__container {
                padding: 0px 40px;
		    }
            &__button {
                font-size: 20px;
                line-height: 24px;
                padding: 15.5px 74.5px;
                margin: 0px 20px 0px 0px;
            }
            &__bottom {
                max-width: 950px;
                margin: 62px auto 0px auto;
            }
            &__bottom-subtitle {
                max-width: 450px;
                font-size: 18px;
                line-height: 24px;
            }
        }
        @media (max-width: 1100px) {
            & {
                padding: 120px 0px 137px 0px;
            }
            &__subtitle {
                font-size: 79px;
                line-height: 85px;
            }
            &__bottom {
                margin: 27px auto 0px auto;
            }
            &__button {
                height: 46px;
                font-size: 14px;
                line-height: 17px;
                padding: 13.5px 29.5px;
                margin: 0px 20px 0px 0px;
            }
        }
        @media (max-width: 850px) {
            &__bottom {
                display: block;
            }
            &__bottom-subtitle {
                margin: 56px 0px 0px 0px;
                padding: 0px 0px 0px 0px;
            }
            &__container {
                padding: 0px 25px;
		    }
        }
        @media (max-width: 650px) {
            &__subtitle {
                font-size: 59px;
                line-height: 65px;
                -webkit-text-stroke: 2px #000000;
            }
            &__bottom-subtitle {
                max-width: 242px;
                font-size: 14px;
                line-height: 18px;
            }
            
        }
        @media (max-width: 576px) {

        }
}

//------------------------------------------TEXT-------------------------------------------
.title {
    font-weight: 700;
    font-size: 90px;
    line-height: 99px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    @media (max-width:1600px) {
        font-size: 80px;
        line-height: 89px;
    }
    @media (max-width:1100px) {
        font-size: 51px;
        line-height: 59px;
    }
    @media (max-width:650px) {
        font-size: 31px;
        line-height: 34px;
    }
}

//------------------------------------------COSMOS-------------------------------------
.cosmos {
    padding: 187px 0px 113px 0px;
    background: #000;
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 200%;
        height: 4px;
        background: rgb(121,130,180);
        background: linear-gradient(90deg, rgba(121,130,180,1) 0%, rgba(20,255,241,1) 30%, rgba(255,255,255,1) 50%, rgba(189,0,255,1) 68%, rgba(118,54,139,1) 100%);
        animation: gradient 15s ease infinite;
    }
    @keyframes gradient {
        0% {
            left: -100%;
        }
        100% {
            left: 0;
        }
    }
		&__container {
		}

		&__content {
            
		}


		&__title {
            max-width: 748px;
            color: #FFFFFF;
            margin: 0px 0px 91px 0px;
		}

		&__subtitle {
            max-width: 635px;
            font-size: 20px;
            line-height: 26px;
            color: #FFFFFF;
            margin: 0px 193px 102px auto;
            p:not(:last-child) {
                margin: 0px 0px 20px 0px;
            }
		}

		&__row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0px 0px 120px 0px;
		}

		&__item {
            text-align: center;
            
            &:last-child {
                max-width: 272px; 
            }
		}

		&__icon {
            margin: 0px auto 20px auto;
            width: 67px;
            height: 67px;
            img {
                // width: 100%;
                height: 100%;
            }
		}

		&__item-text {
            font-size: 20px;
            line-height: 26px;
            color: #FFFFFF;
            max-width: 204px;
            text-align: center;
            margin: 0px auto;
		}

		&__bottom-text {
            max-width: 709px;
            margin: 0px 119px 0px auto;
            font-size: 20px;
            line-height: 26px;
            color: #FFFFFF;
            p:not(:last-child) {
                margin: 0px 0px 20px 0px;
            }
		}
    @media (max-width:1500px) {
        &__item {
            padding: 20px;
            flex: 0 0 33.33%;
            &:last-child {
                max-width: 100%; 
            }
            
        }
    }
    @media (max-width:1100px) {
        & {
            padding: 150px 0px 80px 0px;
        }
        &__subtitle {
            font-size: 18px;
            line-height: 24px;
		}
        &__bottom-text {
            font-size: 18px;
            line-height: 24px;
            color: #FFFFFF;
		}
        &__bottom-text {
            font-size: 18px;
            line-height: 24px;
		}
    }
    @media (max-width:850px) {
        &__item {
            display: flex;
            flex: 1 0 50%;
        }
        &__icon {
            margin: 0px 20px 0px 0px;
		}
        &__item-text {
            font-size: 13px;
            line-height: 17px;
            max-width: 100%;
            text-align: left;
            margin: 0px;
		}
        &__row {
            margin: 0px 0px 50px 0px;
		}
    }
    @media (max-width:650px) {
        &__title {
            margin: 0px 0px 40px 0px;
		}
        &__subtitle {
            font-size: 13px;
            line-height: 17px;
            margin: 0px 0px 51px auto;
		}
        &__bottom-text {
            margin: 0px 0px 0px auto;
            font-size: 13px;
            line-height: 17px;
            color: #FFFFFF;
		}
        &__icon {
            width: 50px;
            height: 50px;
        }
    }
}

//------------------------------------------WHAT WE DO-------------------------------------
.whatwedo {
    padding: 200px 0px 242px 0px;
    background: #000;
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 200%;
        height: 4px;
        background: rgb(121,130,180);
        background: linear-gradient(90deg, rgba(121,130,180,1) 0%, rgba(20,255,241,1) 30%, rgba(255,255,255,1) 50%, rgba(189,0,255,1) 68%, rgba(118,54,139,1) 100%);
        animation: gradient 15s ease infinite;
    }
    @keyframes gradient {
        0% {
            left: -100%;
        }
        100% {
            left: 0;
        }
    }
		&__container {
            max-width: 1341px;
            margin: 0px auto;
		}

		&__content {
            
		}

		&__title {
            color: #FFFFFF;
            margin: 0px 0px 129px 0px;
		}

		&__row {
		}

		&__column {
            display: flex;
            justify-content: space-between;
		}

		&__number {
            font-weight: bold;
            font-size: 53px;
            line-height: 60px;
            letter-spacing: 0.11em;
            -webkit-text-stroke: 3px #FFFFFF;
            color: transparent;
            margin: 0px 77px 0px 0px;
		}

        &__item {
            width: 100%;
            margin: 0px 0px 34px 0px;
            position: relative;
        }

		&__title-item {
            position: relative;
            font-weight: bold;
            font-size: 35px;
            line-height: 48px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin: 0px 67px 0px 0px;
            padding: 0px 0px 12px 0px;
            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0px;
                width: 100%;
                height: 2.5px;
                background: #fff;
            }
		}

		&__subtitle-item {
            margin: 32px 0px 0px 0px;
            max-width: 880px;
            font-size: 20px;
            line-height: 26px;
            color: #FFFFFF;
            display: none;
            transition: all 1s ease 0s;
            &.active {
                display: block;
            }
		}

		&__menu {
            width: 54px;
            height: 54px;
            img {
                transition: all 0.5s ease 0s;
                // width: 100%;
                height: 100%;
            }
            &.active {
                img {
                    transform: rotate(135deg);
                }
            }
            &:hover {
                cursor: pointer;
            }
		}
    @media (max-width:1100px) {
        & {
            padding: 136px 0px 80px 0px;
        }
        &__title {
            margin: 0px 0px 80px 0px;
		}
        &__number {
            font-size: 40px;
            line-height: 48px;
            margin: 0px 30px 0px 0px;
		}

        &__item {
            margin: 0px 0px 20px 0px;
        }

		&__title-item {
            margin: 0px 20px 0px 0px;
            font-size: 25px;
            line-height: 35px;
        }
		&__subtitle-item {
            margin: 25px 0px 0px 0px;
            font-size: 18px;
            line-height: 24px;
		}
    }    
    @media (max-width:850px) {
    
    }
    @media (max-width:650px) {
        &__title {
            margin: 0px 0px 23px 0px;
		}
        &__number {
            font-size: 20px;
            line-height: 25px;
            margin: 0px 20px 0px 0px;
            -webkit-text-stroke: 1.2px #FFFFFF;
		}

        &__item {
            margin: 0px 0px 15px 0px;
        }

		&__title-item {
            margin: 0px 8px 0px 0px;
            font-size: 14px;
            line-height: 18px;
            &:after {
                height: 1.5px;
            }
        }
		&__subtitle-item {
            margin: 9px 0px 0px 0px;
            font-size: 13px;
            line-height: 17px;
		}
        &__menu {
            width: 16px;
            height: 16px;
		}
    }    
}

//------------------------------------------HELLO---------------------------------------
.hello {
    background: #000;
    padding: 200px 0px 320px 0px;
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 200%;
        height: 4px;
        background: rgb(121,130,180);
        background: linear-gradient(90deg, rgba(121,130,180,1) 0%, rgba(20,255,241,1) 30%, rgba(255,255,255,1) 50%, rgba(189,0,255,1) 68%, rgba(118,54,139,1) 100%);
        animation: gradient 15s ease infinite;
    }
    @keyframes gradient {
        0% {
            left: -100%;
        }
        100% {
            left: 0;
        }
    }
		&__container {
		}

		&__content {
           
		}

		&__title {
            max-width: 707px;
            color: #FFFFFF;
            margin: 0px 0px 90px 0px;
		}

		&__subtitle {
            max-width: 650px;
            font-size: 20px;
            line-height: 26px;
            color: #FFFFFF;
            margin: 0px 180px 125px auto;
            p:not(:last-child) {
                margin: 0px 0px 20px 0px;
            }
		}

		&__slider {
            // position: relative;
            max-width: 1350px;
            margin: 0px auto;
		}

		&__slider-item {
            text-align: center;
            margin: auto 0px auto 0px; 
            @media (max-width:1200px) {
                & {
                    img {
                        max-width: 200px;
                        min-height: 30px;
                    }
                }
            }
            @media (max-width:1000px) {
                & {
                    img {
                        max-width: 130px;
                        // max-height: 50px;
                    }
                }
            }
            @media (max-width:750px) {
                & {
                    img {
                        max-width: 130px;
                        // max-height: 50px;
                    }
                }
            }
            @media (max-width:500px) {
                & {
                    img {
                        max-width: 100px;
                        // max-height: 50px;
                    }
                }
            }
		}
    .slider-item-h {
        @media (max-width:500px) {
            & {
                img {
                    max-width: 69px;
                    max-height: 50px;
                }
            }
        }
    }
    @media (max-width:1100px) {
        & {
            padding: 136px 0px 120px 0px;
        }
        &__subtitle {
            max-width: 650px;
            font-size: 18px;
            line-height: 24px;
            margin: 0px 0px 125px auto;
            p:not(:last-child) {
                margin: 0px 0px 20px 0px;
            }
		}
        
    }    
    @media (max-width:850px) {
        
    }
    @media (max-width:650px) {
        &__title {
            margin: 0px 0px 35px 0px;
		}

		&__subtitle {
            font-size: 13px;
            line-height: 17px;
            margin: 0px 0px 81px 0px;
		}
    }    
}

//------------------------------------------OUR PROJETS----------------------------------------
.ourprojects {
    background: #000;
    padding: 200px 0px 285px 0px;
		&__container {
		}

		&__content {
            
		}

		&__title {
            color: #FFFFFF;
            margin: 0px 0px 82px 0px;
		}

		&__row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            position: relative;
		}

		&__seeall-btn {
            display: flex;
            max-width: 196px;
            margin: 0px 0px 37px auto;
            &:hover {
                cursor: pointer;
            }
		}

		&__seeall-text {
            font-weight: 700;
            font-size: 20px;
            line-height: 34px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin: 0px 0px 0px 12px;
		}

		&__column {
		}

        &__image {
            max-width: 465px;
            img {
                max-width: 465px;
            }
            z-index: 1;
            position: relative;
            &:after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 465px;
                height: 100%;
                background: rgba(0, 0, 0, 0.67);
                z-index: 2;
                display: none;
            }
            &:before {
                content: 'смотреть';
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                text-transform: uppercase;
                color: #FFFFFF;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 3;
                display: none;
                
            }
            &:hover {
                cursor: pointer;
                &:after {
                    display: block;
                }
                &:before {
                    display: block;
                }
            }
		}

		&__text {
            max-width: 336px;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin: 43px 0px 0px 0px;
		}

    @media (max-width:1500px) {
        &__image {
            max-width: 245px;
            img {
                max-width: 245px;
            }
        }
        &__text {
            max-width: 245px;
        }    
        &__column {
            padding: 0px 10px 20px 10px;
		}    
    }    
    @media (max-width:1100px) {
        & {
            padding: 136px 0px 120px 0px;
        }
        &__seeall-btn {
            img {
                width: 26px;
                height: 26px;
            }
		}

		&__seeall-text {
            font-size: 14px;
            line-height: 26px;
		}
        &__text {
            max-width: 245px;
            font-size: 14px;
            line-height: 17px;
            margin: 30px 0px 0px 0px;
		}
    }    
    @media (max-width:930px) {
        &__row {
            padding: 0px 25px 0px 10px;
        }
        &__seeall-btn {
            display: flex;
            max-width: 196px;
            margin: 0px 0px 37px 0px;
		}
        &__image {
            &:after{
                width: 245px;
                height: 100%;
            }
            
        }
    }
    @media (max-width:775px) {
        &__image {
            opacity: 0.2;
        }
    }
    @media (max-width:650px) {
        & {
            padding: 136px 0px 85px 0px;
        }
        &__title {
            margin: 0px 0px 63px 0px;
		}
    }
    @media (max-width:600px) {
        &__column {
            margin: 0px auto;
        }
        &__row {
            margin: 0px -45px 0px 0px;
        }
    }
    @media (max-width:550px) {
        &__image {
            opacity: 1;
        }
    }

}

//------------------------------------------SIGNAL----------------------------------------
.signal {
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 60%;
        height: 100%;
        background: radial-gradient(50% 50% at 50% 50%, #14FFF1 0%, rgba(192, 255, 251, 0) 100%);
        animation: blue 15s ease infinite;
        z-index: -1;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0px;
        right: 0;
        width: 80%;
        height: 120%;
        background: radial-gradient(50% 50% at 50% 50%, #BD00FF -30%, rgba(227, 148, 255, 0) 100%);
        animation: pink 15s ease infinite;
        z-index: -2;
    }
    @keyframes blue {
        0% {
            top: 0;
            left: 0;
            width: 60%;
            height: 100%;
        }
        50% {
            top: 20px;
            left: 0;
            width: 90%; 
            height: 110%;
        }
        100% {
            top: 0;
            left: 0;
            width: 60%;
            height: 100%;
        }
    }
    @keyframes pink {
        0% {
            top: 0px;
            right: 0;
            width: 80%;
            height: 120%;
        }
        50% {
            top: -0;
            right: 10px;
            width: 60%;
            height: 100%;
        }
        100% {
            top: 0px;
            right: 0;
            width: 80%;
            height: 120%;
        }
    }
		&__container {
            max-width: 1324px;
		}

		&__content {
		}

		&__stroke {
            padding: 19px 0px 28px 0px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 4px;
                background: #000;
            }
            span {
                font-weight: 700;
                font-size: 64px;
                line-height: 80px;
                letter-spacing: 0.07em;
                text-transform: uppercase;
                -webkit-text-stroke: 3.5px #000000;
                color: transparent;
                &:first-child {
                    position: relative;
                    margin: 0px 166px 0px 0px;
                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: -120px;
                        width: 106px;
                        height: 4px;
                        background: #000;
                        margin: 0px 0px 0px 0px;
                    }
                }
            }
        }    
		&__title {
            margin: 200px 0px 112px 0px;
		}

		&__form {
            max-width: 710px;
            margin: 0px 0px 192px auto;
		}

		&__name-input {
            width: 100%;
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            color: #000000;
            padding: 18.5px 38px;
            border: 2.5px solid #000000;
            border-radius: 50px;
            margin: 0px 0px 15px 0px;
            background: transparent;
		}

		&__email-input {
            width: 100%;
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            color: #000000;
            padding: 18.5px 38px;
            border: 2.5px solid #000000;
            border-radius: 50px;
            margin: 0px 0px 15px 0px;
            background: transparent;
		}

		&__textarea-input {
            margin: 0px 0px 30px 0px;
            position: relative;
            textarea {
                height: 230px;
                width: 100%;
                font-weight: 600;
                font-size: 20px;
                line-height: 26px;
                color: #000000;
                padding: 29px 80px 29px 38px;
                border: 2.5px solid #000000;
                border-radius: 40px;
                background: transparent;
            } 
            span {
                font-weight: 600;
                font-size: 20px;
                line-height: 26px;
                position: absolute;
                bottom: 26px;
                right: 36px;
                z-index: 50;
            }
		}

		&__buttons {
            display: flex;
		}

		&__btn {
            display: inline-block;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 12px 114px;
            background: #000000;
            border: 1.8px solid #000000;
            border-radius: 23.5px;
            margin: 0px 60px 0px 0px;
		}

		&__checkboxes {
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            color: #000000;
		}
        &__agree {
            margin: 0px 0px 20px 0px;
		}

		&__checkbox {
            
		}

        &__chackbox-label {
            &:before {
                content: " ";
                color: #000;
                display: inline-block;
                position: relative;
                width: 22px;
                height: 22px;
                background: transparent;
                border: 2px solid #000;
                border-radius: 50%;
                margin: 0px 32px 0px 0px;
            }
            &.active:before {
                background: url('../img/signal/check.png') 50%/50% no-repeat;
            }
            &:hover::before {
                cursor: pointer;
            }
        }

		&__callback {
            img {
                margin: 0px 24px 0px 0px;
            }
		}
    @media (max-width:1100px) {
        &__title {
            margin: 136px 0px 112px 0px;
		}
        &__form {
            margin: 0px 0px 115px auto;
		}
    }    
    @media (max-width:850px) {
        &__name-input {
            font-size: 18px;
            line-height: 24px;
            padding: 18.5px 0px 18.5px 38px;
            margin: 0px 0px 15px 0px;
		}

		&__email-input {
            font-size: 18px;
            line-height: 24px;
            padding: 18.5px 0px 18.5px 38px;
            border: 2.5px solid #000000;
            margin: 0px 0px 15px 0px;
		}

		&__textarea-input {
            margin: 0px 0px 30px 0px;
            textarea {
                font-size: 18px;
                line-height: 24px;
                padding: 29px 80px 29px 38px;
                border: 2.5px solid #000000;
                border-radius: 40px;
            } 
            span {
                font-size: 13px;
                line-height: 17px;
                bottom: 26px;
                right: 36px;
            }
		}
        &__buttons {
            flex-direction: column;
		}
        &__btn {
            font-size: 18px;
            line-height: 24px;
            margin: 0px 0px 21px 0px;
		}
        &__checkboxes {
            font-size: 18px;
            line-height: 24px;
		}
        &__stroke {
            span {
                font-size: 50px;
                line-height: 65px;
                &:first-child {
                    position: relative;
                    margin: 0px 0px 0px 0px;
                    &:after {
                        right: -120px;
                        width: 106px;
                        height: 4px;
                    }
                }
            }
        }
    }
    @media (max-width:650px) {
        &__title {
            margin: 136px 0px 52px 0px;
		}
        &__name-input {
            font-size: 13px;
            line-height: 17px;
            padding: 11.5px 23.5px;
            border: 1.8px solid #000000;
            margin: 0px 0px 7px 0px;
		}

		&__email-input {
            font-size: 13px;
            line-height: 17px;
            padding: 11.5px 23.5px;
            border: 1.8px solid #000000;
            margin: 0px 0px 7px 0px;
		}

		&__textarea-input {
            margin: 0px 0px 13px 0px;
            textarea {
                height: 143px;
                font-size: 13px;
                line-height: 17px;
                padding: 14.5px 23.5px 29px 23.5px;
                border: 1.8px solid #000000;
                border-radius: 25px;
            } 
            span {
                font-size: 13px;
                line-height: 17px;
                bottom: 15px;
                right: 18px;
            }
		}
        &__btn {
            font-size: 14px;
            line-height: 17px;
            padding: 12px 0px;
            width: 100%;
		}
        &__checkboxes {
            font-size: 13px;
            line-height: 17px;
		}
        &__agree {
            margin: 0px 0px 13px 0px;
		}
        &__stroke {
            padding: 5px 0px 8px 0px;
            position: relative;
            &:after {
                height: 1px;
            }
            span {
                font-size: 16px;
                line-height: 18px;
                -webkit-text-stroke: 1px #000000;
                color: transparent;
                &:first-child {
                    position: relative;
                    margin: 0px 48px 0px 0px;
                    &:after {
                        right: -32px;
                        width: 27px;
                        height: 1px;
                    }
                }
            }
        }
    }    
}
.load {
    margin: -67px 0px 0px auto;
    max-width: 709px;
		&__title {
            font-weight: 700;
            font-size: 35px;
            line-height: 48px;
            text-transform: uppercase;
            color: #000000;
            margin: 0px 0px 60px 0px;
		}

		&__subtitle {
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            color: #000000;
            margin: 0px 0px 80px 0px;
		}

		&__image {
            width: 100%;
            height: 100%;
            img {
                width: 709px;
                height: 403px;
            }
		}
    @media (max-width:1100px) {
        &__title {
            font-size: 24px;
            line-height: 36px;
		}
        &__subtitle {
            font-size: 18px;
            line-height: 24px;
		}
    }    
    @media (max-width:850px) {
        &__title {
            margin: 0px 0px 17px 0px;
		}
        &__subtitle {
            margin: 0px 0px 35px 0px;
		}
        &__image {
            img {
                width: 500px;
                height: auto;
            }
		}
    }    
    @media (max-width:650px) {
        & {
            margin: 0px 0px 0px 0px;
        }
        &__title {
            font-size: 14px;
            line-height: 17px;
		}
        &__subtitle {
            font-size: 13px;
            line-height: 17px;
		}
        &__image {
            img {
                width: 282px;
                height: 160px;
            }
		}
    }    
}

input[type="checkbox"] {
    display: none;
}

//------------------------------------------FOOTER----------------------------------------
@import "footer.scss";

//------------------------------------------SEE ALL----------------------------------------
@import "seeall.scss";

//------------------------------------------DDX FITNESS----------------------------------------
@import "ddxFitness.scss";
//------------------------------------------DDX FITNESS----------------------------------------
@import "allStar.scss";

//------------------------------------------SLIDER----------------------------------------
@import "sider.scss";